*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
html{
    background: #111111;
    color: rgb(148, 148, 148);
}
#main{
    width: 100%;
    height: 100vh;
}
section{
    width: 100%;
    height: 100%;
    display: flex;
    gap: 20px;
    flex-direction: column;
    padding: 20px 50px;
}
.infos{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.info{
    padding: 10px 20px;
    border: 2px solid rgb(53, 53, 53);
    border-radius: 10px;
}
.info h1{
    font-size: 3vw;
}
.board{
    flex-grow: 1;
    border: 2px solid rgb(75, 75, 75);
    display: grid;
    backdrop-filter: blur(10px);
    grid-template-columns: repeat(auto-fill, minmax(40px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(40px, 1fr));
}
/* .block{
    border: .2px solid rgb(53, 53, 53);
} */

.fill{
    background: rgb(231, 231, 231);
}
.food{
    background: tomato;
}
.btn{
    font-size: 15px;
    padding: 10px 20px;
    border: 1px solid rgb(231, 231, 231);
    color: rgb(231, 231, 231);
    border-radius: 10px;
    background: rgb(83, 83, 83);
}
.btn:active{
    scale: .95;
}

.modal{
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backdrop-filter: blur(5px);
    background: rgba(75, 75, 75, 0.437);
}
.start-game, .game-over{
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.btn-box{
    display: none;
}

@media (max-width: 500px) {
    section{
        padding: 5vw 3vw;
    }
    .info h1{
        font-size: 3vw;
    }
    .btn-box{
        width: 100%;
        height: 150px;
    }
    .btn-box{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .btn-box i{
        font-size: 6vw;
    }
    .up-down{
        gap: 10vw;
        position: absolute;
        display: flex;
        flex-direction: column;
    }
    .left-right{
        gap: 25vw;
        position: absolute;
        display: flex;
    }
    .arrow{
        color: rgb(231, 231, 231);
        border: 1px solid rgb(231, 231, 231);
        background: transparent;
        padding: 3vw 6vw;
        border-radius: 10px;
    }
    .arrow:active{
        scale: .95;
    }
}


